.profile {
  text-align: center;
  border: 2px solid black;
  width: 320px;
  margin: 0 auto;
  background-color: rgb(242, 240, 240);
}
.avatar {
  height: 140px;
  padding-top: 20px;
}
.name {
  color: rgb(70, 70, 70);
  font-weight: 700;
  font-size: 20px;
}
.tag {
  color: rgb(123, 119, 119);
}
.location {
  color: rgb(123, 119, 119);
}
