.item {
  margin-right: 10px;
}
.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.online {
  composes: status;
  background-color: green;
}
.offline {
  composes: status;
  background-color: red;
}
